.admin-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 100vh;
  color: white;
  padding: 20px;
}

.admin-dashboard h1 {
  margin-bottom: 20px;
}

.admin-dashboard table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.admin-dashboard th,
.admin-dashboard td {
  border: 1px solid #fff;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.admin-dashboard .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.admin-dashboard .pagination button,
.admin-dashboard .pagination input {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #555;
  border: none;
  color: #fff;
  cursor: pointer;
}

.admin-dashboard .pagination button:hover {
  background-color: #777;
}

.admin-dashboard .pagination .active {
  background-color: #777;
}

.admin-dashboard .pagination .input-container {
  display: flex;
  align-items: center;
}

.admin-dashboard .pagination .input-container input {
  width: 50px;
  height: 24px;
  padding: 2px;
}

.admin-dashboard .pagination .input-container button {
  padding: 2px 10px;
}

.un-highlight {
  background-color: black;
}
