.order-list {
  flex: 1;
  background-color: #333;
  color: white;
  padding: 20px;
}

.order-list h1 {
  margin-bottom: 20px;
}

.order-list table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.order-list th,
.order-list td {
  border: 1px solid #fff;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.order-list .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.order-list .pagination button,
.order-list .pagination input {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #555;
  border: none;
  color: #fff;
  cursor: pointer;
}

.order-list .pagination button:hover {
  background-color: #777;
}

.order-list .pagination .active {
  background-color: #777;
}

.order-list .pagination .input-container {
  display: flex;
  align-items: center;
}

.order-list .pagination .input-container input {
  width: 50px;
  height: 24px;
  padding: 2px;
}

.order-list .pagination .input-container button {
  padding: 2px 10px;
}

.un-highlight {
  background-color: black;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-input:focus {
  outline: none;
  border-color: #blue;
  box-shadow: 0 0 5px #blue;
}

